[Unit]
Description=The Rust Playground

[Service]
Environment=TMPDIR=/tmp
Environment=RUST_LOG=info
Environment=PLAYGROUND_UI_ADDRESS=0.0.0.0
Environment=PLAYGROUND_UI_PORT=8080
Environment=PLAYGROUND_UI_ROOT=/home/playground/rust-playground/ui/frontend/build
Environment=PLAYGROUND_CORS_ENABLED=1

WorkingDirectory=/home/playground/rust-playground

ExecStart=/home/playground/rust-playground/ui/target/debug/ui

[Install]
WantedBy=multi-user.target
